body          { font-family: helvetica; font-size: large;
                color: black; background: white }
body.navbar   { border-style: none; font-family: helvetica;
                color: white; background: gray }
div.centered  { margin-left: 10%; margin-right: 10% }
dt            { font-weight: bold }
p.popup       { font-family: helvetica; font-size: medium;
                text-align: left }
table.navbar  { border-style: none; width: 100%;
                font-family: helvetica; color: white;
                background: gray }
tr.topalign   { vertical-align: top }
td.topalign   { vertical-align: top }
td.navbar     { width: 90%; color: white; background: red;
                text-align: center }
td.hpacer     { width: 5%; background: red; text-align: center }
td.topspacer  { width: 5%; height: 100px;
                background: gray; text-align: center }
td.spacer     { width: 5%; height: 20px;
                background: gray; text-align: center }
img.imagergt  { padding-left: 10px; float: right }
.navbar       { width: 90%; color: white; background: red;
                text-align: center }
.invnavbar    { width: 90%; color: red; background: white;
                text-align: center }