body          { font-family: helvetica;
                color: black; background: white }
h1            { text-align: center }
img           { padding-right: 10px }
img.imagelft  { padding-right: 10px;
                width=149px; height=177px; float: left }
.stanford     { color: red; font-weight: bold }
.emphasis     { font-style: italic }
:hover        { color: green }