body          { font-family: helvetica; font-size: large;
                color: black; background: white }
body.navbar   { font-family: helvetica; color: white; background: gray }
div.centered  { margin-left: 10%; margin-right: 10% }
dt            { font-weight: bold }
td.topalign   { vertical-align: top }
td.navbar     { background: red; text-align: center }
img.imagergt  { padding-left: 10px; float: right }