body          { font-family: helvetica;
                color: black; background: white }
div.centered  { margin-left: 10%; margin-right: 10% }
dt            { font-weight: bold }
table         { border-style: none; width=100% }
table.subtab  { width: 100%; border-style: solid; border-width: 1px }
tr.tabhd      { text-align: left;
                font-weight: bold; font-size: xx-large; }
td.topalign   { vertical-align: top; width: 50% }
td.sel        { text-align: left }
td.val        { text-align: right }
td.gtconfig   { text-align: center; font-weight: bold;
                font-variant: small-caps; font-size: large;
                background: gray; color: white;
                border-style: double;
                border-top-color: white; border-bottom-color: white;
                border-top-width: 4px; border-bottom-width: 4px;
                border-left: none; border-right: none }
img.imagergt  { padding-left: 10px; float: right }
img.imagelft  { padding-right: 10px; float: left }