body          { font-family: helvetica; font-size: medium;
                color: black; background: white }
div.left      { float: left; vertical-align: top; width: 62% }
div.right     { float: right; vertical-align: top; width: 37% }
table         { width=100%; background: white; color: black;
                border-style: solid; border-width: 1px;
                border-collapse: collapse }
table.noborder { width=100%; background: white; color: black;
                border-style: none }
tr.tabhead    { text-align: center; font-size: large;
                background: black; color: white;
                text-align: center }
tr.shaded     { background: grey; color: black }
td            { border-style: solid; border-color: black;
                border-width: 1px }
td.left       { text-align: left; border-style: none }
td.right      { text-align: right; border-style: none }
td.center     { text-align: center; border-style: none }
.hint         { font-size: small }