body          { font-family: helvetica; font-size: 12pt;
                color: black; background: white }
div.centered  { margin-left: 10%; margin-right: 10% }
h1            { text-align: center }
h2, h3, h4    { text-align: left }
dt            { font-weight: bold }
td.topalign   { vertical-align: top }
p.slugline    { font-size: 8pt; text-align: right }
p.authorinfo  { text-align: center; font-size: 12pt;
                font-style: italic }
img.imagergt  { padding-left: 10px; float: right }
img.imagelft  { padding-right: 10px; float: left }
.cmd          { font-family: courier }
