body          { font-family: helvetica;
                color: white; background: gray }
table         { border-style: solid; border-width: 4px; width=100% }
tr.tabhd      { text-align: left;
                font-weight: bold; font-size: xx-large; }
td.topalign   { vertical-align: top; width: 50% }
td.left       { text-align: left }
td.right      { text-align: right }
td.cen        { text-align: center }
td.bookhead   { text-align: center; font-weight: bold;
                font-size: x-large; font-family: times;
                background: white; color: gray;
                border-style: solid;
                border-top-color: gray; border-bottom-color: gray;
                border-top-width: 4px; border-bottom-width: 4px;
                border-left: none; border-right: none }